body {
    margin: 0;
}

* {
    line-height: 18px;
    font-size: 14px;
    font-family: -apple-system, 
                BlinkMacSystemFont, 
                "Apple Color Emoji", 
                "Segoe UI Emoji", 
                "Segoe UI Symbol", 
                "Noto Color Emoji", 
                "Twemoji Mozilla", 
                "Segoe UI", 
                "EmojiOne Color",
                "Android Emoji", 
                Roboto, 
                Helvetica, 
                Arial, 
                sans-serif;
}

@keyframes modalAnimation {
    0% {
        opacity: 0;
        transform: scale(1.25);
        transform-origin: center
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: center
    }
}

.EmojiPickerReact * {
    --epr-emoji-size: 20px;
    --epr-category-label-height: 20px;    
    --epr-horizontal-padding: 5px;
    --epr-emoji-padding: 5px;
    --epr-emoji-fullsize: calc(var(--epr-emoji-size) + var(--epr-emoji-padding)* 2);    
}

.emoji-node {
    display:inline-block;
    width: 20px;
    height: 20px;
}

#editor-selector-parent:first-child {
    outline: none;
    min-height: 105px;
    max-height: 105px;
    height: 105px;
    overflow-y: auto;
}

#editor-selector-parent div[contenteditable] {
    outline: none;
    margin-top: 14px;
    margin-left: 2px;    
}

#editor-selector-parent div[contenteditable]:focus {
    outline: none;
    margin-top: 14px;
    margin-left: 2px;    
}

.editor-placeholder {
    position: absolute;
    top: 0px;
    margin-top: 14px;
    margin-left: 2px;
}