.signupBox {
    align-items: center;
    border: 1px solid rgb(220,220,220);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    vertical-align: baseline;
}

.innerDiv1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    position: relative;
}

.innerDiv2 {
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.termsDiv {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 16px;
    font-size: 12px;
    color: rgb(120, 120, 120);
}