.signupBox {
    align-items: center;
    border: 1px solid rgb(220,220,220);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    vertical-align: baseline;
}

.innerDiv1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    position: relative;
}

.innerDiv2 {
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.forgotWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(22, 17, 125);
}